<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.gtrational.rational">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="edu.gatech.cs2340.gtrational.rational.RationalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6vJprGSEvEasIB4DG7xEmg7q3Sm-pJNQ"/>

        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.LoginActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.RegisterActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.MainDashboardActivity"
            android:label="@string/title_activity_main_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.SettingsActivity"
            android:parentActivityName=".controller.MainDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainDashboardActivity" />
        </activity>
        <activity
            android:name=".controller.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.NewSightingActivity"
            android:parentActivityName=".controller.MainDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainDashboardActivity" />
        </activity>
        <activity
            android:name=".controller.ViewDataActivity"
            android:parentActivityName=".controller.MainDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainDashboardActivity" />
        </activity>
    </application>

</manifest>